{% extends "base.html" %}

{% block content %}
    <h1>Author: {{author}}</h1>
    {% if user.is_authenticated %}
        {% if user.pk != author.user.pk %}
            {% if is_followed %}
                <div class="message-section" style="display:none;"></div>
                <button data-url="{% url 'unfollow-author' author.pk %}" class="unfollow-button" type="button">Unfollow</button>
            {% else %}
                <div class="message-section" style="display:none;"></div>
                <button data-url="{% url 'follow-author' author.pk %}" class="follow-button" type="button">Follow</button>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if blog_list %}
    <h3>Blogs list</h3>
    <ul>

      {% for blog in blog_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{blog.post_date}})</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Author has no posts yet.</p>
    {% endif %}
    <script>
        $('.follow-button').click(function() {
            $.get($(this).data('url'), function(response) {
                $('.message-section').text(response.message).show();
            });
        });
         $('.unfollow-button').click(function() {
            $.get($(this).data('url'), function(response) {
                $('.message-section').text(response.message).show();
            });
        });
    </script>
{% endblock %}

